$primary-color: #009932;
$primary-color-light: #51cb61;
$primary-color-dark: #006900;

$complementary-color: #906;
$analogous-color: #009980;
$triadic-color: #069;

$primary-color-text: black;
$primary-color-light-text: black;
$primary-color-dark-text: white;
